
.style1 {
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #305A72;
    font-size: 16pt;
    font-weight: bold;    
}

.style1 ul {
    height: 100px;
    overflow:hidden; overflow-y:scroll;
    background-color: #ffffff;  
    width: 450px;      
}
.style1 li {
    width: 450px;
    margin:0px;
    padding: 0px;
    list-style-type: none;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    cursor:pointer;
    color:#888888;    
}
.style1 li:hover{
    background-color: #EEEEEE;
}

.style1 input[type="button"], 
.style1 input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    -padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
    width: 220px;
}

.style1 input, select, ul {
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    width: 220px;    
}

.style1 input[type="button"]:hover, 
.style1 ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}

.style1 input[type="button"]:disabled {
    color: #17445E;
}

.style1 #users{ 
    width: 450px;
    margin-bottom: 10px;
    display: none;
}    
.style1 input:focus,select:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}

.style1 #error {
    font-size: 10pt;
    color: red;    
}
